@charset "UTF-8";.Nav {
}
.Navbar
{
	height: 45px;
	background-color: #CC9900;
	border-radius: 20px;
	margin-top: 1em;
	margin-left: 14px;
}

.Logout{
	margin-right: 2%;
	width: 91px;
	background-color: #D8A200;
	float: none;
	margin-top: 1em;
	border-radius: 20px;
}
.Profile_Picture {
	border-radius: 500px;
	width: 12%;
	height: 12%;
	margin-top: 1em;
	margin-left: 7px;
}
